<div>
    <div class="titulo">
        <h2>Bienvenido/a {{student.name}}</h2>
        <button class="btn btn-dark" (click)="cerrarSesion()">Cerrar Sesion</button>
    </div>
    <div class="headerStudent">
        <h3>Tus Cursos:</h3>
    </div>
    <hr>
    <div class="bodyStudent">
        <div *ngFor="let subject of subjects">
            <div class="divSubject">
                <b>{{subject.name}} ({{subject.shortName}})</b>
            </div>
            <div>
                <table class="table table-striped tablaTeacher">
                    <thead>
                        <th>Asignatura</th>
                        <th>Tema</th>
                        <th>Nota</th>
                    </thead>
                    <tbody>
                        <tr class="divExam" *ngFor="let exam of subject.exam">
                            <td>{{exam.exam?.description}}</td>
                            <td>({{exam.exam?.themes}})</td>
                            <td>{{exam.note === 0 ? "Sin Corregir" : exam.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>