<form (ngSubmit)="onSubmit(ModificarMateria)" #ModificarMateria="ngForm" class="form-login">
    <div class="form-group mb-3">

        <h3 class="form-title">Modificar Materia</h3>
        <br>
        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" id="nombre" name="nombre" required ngModel #nombre="ngModel">
        
        <label for="abreviacion">Abreciacion:</label>
        <input type="text" class="form-control" id="abreviacion" name="abreviacion" required ngModel #abreviacion="ngModel">

        <label for="horaSemana">Horas a la Semana:</label>
        <input type="text" class="form-control" id="horaSemana" name="horaSemana" required ngModel #horaSemana="ngModel">

        <div [hidden]="nombre.valid || abreviacion.valid || horaSemana.valid &&
        nombre.pristine || abreviacion.pristine || horaSemana.pristine"
        class="alert alert-danger">Debes Completar Todos Los Campos</div>

        <button type="submit" class="btn btn-secondary" [disabled]="!ModificarMateria.form.valid">Modificar</button>
        <button type="button" class="btn btn-secondary"(click)="goBack()">Voler Atras</button>

    </div>
</form>
